<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.AdminProjectRatingLogMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.AdminProjectRatingLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="rating_stage" jdbcType="INTEGER" property="ratingStage" />
    <result column="rating_time" jdbcType="TIMESTAMP" property="ratingTime" />
    <result column="rating_description" jdbcType="VARCHAR" property="ratingDescription" />
    <result column="rating_admin_name" jdbcType="VARCHAR" property="ratingAdminName" />
  </resultMap>
</mapper>