<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.AdminContactLogMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.AdminContactLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_choose_record_id" property="userChooseRecordId" jdbcType="INTEGER" />
    <result column="contact_status" property="contactStatus" jdbcType="INTEGER" />
    <result column="concact_time" property="concactTime" jdbcType="TIMESTAMP" />
    <result column="administractor_id" property="administractorId" jdbcType="INTEGER" />
  </resultMap>
</mapper>