<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.DatasOperationManageMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.DatasOperationManage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="data_id" property="dataId" jdbcType="INTEGER" />
    <id column="data_type" property="dataType" jdbcType="VARCHAR" />
    <result column="basics_recommend" property="basicsRecommend" jdbcType="INTEGER" />
    <result column="operation_recommend" property="operationRecommend" jdbcType="INTEGER" />
    <result column="dynamic_recommand" property="dynamicRecommand" jdbcType="INTEGER" />
    <result column="cooperative_relationship" property="cooperativeRelationship" jdbcType="VARCHAR" />
    <result column="customer_grade" property="customerGrade" jdbcType="VARCHAR" />
    <result column="source_type" property="sourceType" jdbcType="VARCHAR" />
    <result column="ir_principal" property="irPrincipal" jdbcType="VARCHAR" />
    <result column="wechat_group_id" property="wechatGroupId" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="is_hide" property="isHide" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="index_type" property="indexType" jdbcType="INTEGER" />
  </resultMap>
</mapper>