<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.DataLogEducationMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.DataLogEducation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="log_id" jdbcType="INTEGER" property="logId" />
    <result column="education_name" jdbcType="VARCHAR" property="educationName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
</mapper>