<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.DatasOperationManageMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.DatasOperationManage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="data_id" jdbcType="INTEGER" property="dataId" />
    <id column="data_type" jdbcType="VARCHAR" property="dataType" />
    <result column="basics_recommend" jdbcType="INTEGER" property="basicsRecommend" />
    <result column="operation_recommend" jdbcType="INTEGER" property="operationRecommend" />
    <result column="dynamic_recommand" jdbcType="INTEGER" property="dynamicRecommand" />
    <result column="cooperative_relationship" jdbcType="VARCHAR" property="cooperativeRelationship" />
    <result column="customer_grade" jdbcType="VARCHAR" property="customerGrade" />
    <result column="source_type" jdbcType="VARCHAR" property="sourceType" />
    <result column="ir_principal" jdbcType="VARCHAR" property="irPrincipal" />
    <result column="wechat_group_id" jdbcType="VARCHAR" property="wechatGroupId" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="is_hide" jdbcType="INTEGER" property="isHide" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="index_type" jdbcType="INTEGER" property="indexType" />
  </resultMap>
</mapper>