<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ElegantServiceServiceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ElegantServiceServiceType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="elegant_service_id" property="elegantServiceId" jdbcType="INTEGER" />
    <result column="meta_service_type_id" property="metaServiceTypeId" jdbcType="INTEGER" />
  </resultMap>
</mapper>