<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.EventInteractionMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.EventInteraction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="event_id" jdbcType="INTEGER" property="eventId" />
    <result column="users_id" jdbcType="INTEGER" property="usersId" />
    <result column="interaction_type" jdbcType="INTEGER" property="interactionType" />
    <result column="interaction_content" jdbcType="VARCHAR" property="interactionContent" />
    <result column="interaction_time" jdbcType="TIMESTAMP" property="interactionTime" />
  </resultMap>
</mapper>