<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.FoundersMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.Founders" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="educational_background_desc" property="educationalBackgroundDesc" jdbcType="VARCHAR" />
    <result column="working_background_desc" property="workingBackgroundDesc" jdbcType="VARCHAR" />
    <result column="entrepreneurial_experience" property="entrepreneurialExperience" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="approval_status" property="approvalStatus" jdbcType="INTEGER" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
</mapper>