<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.FounderAduitRecordMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.FounderAduitRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="founder_id" property="founderId" jdbcType="INTEGER" />
    <result column="aduit_status" property="aduitStatus" jdbcType="INTEGER" />
    <result column="aduit_time" property="aduitTime" jdbcType="TIMESTAMP" />
    <result column="admin_name" property="adminName" jdbcType="VARCHAR" />
    <result column="discription" property="discription" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="INTEGER" />
  </resultMap>
</mapper>