<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.IndexTeamMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.IndexTeam">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="founder" jdbcType="INTEGER" property="founder" />
    <result column="partner" jdbcType="INTEGER" property="partner" />
    <result column="members" jdbcType="INTEGER" property="members" />
    <result column="educational_background" jdbcType="INTEGER" property="educationalBackground" />
    <result column="work_background" jdbcType="INTEGER" property="workBackground" />
    <result column="territory" jdbcType="INTEGER" property="territory" />
  </resultMap>

</mapper>