<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.IndexBrandMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.IndexBrand">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="honor" jdbcType="INTEGER" property="honor" />
    <result column="baidu_index" jdbcType="INTEGER" property="baiduIndex" />
    <result column="tencent_index" jdbcType="INTEGER" property="tencentIndex" />
  </resultMap>
</mapper>