<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.IndexCapitalMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.IndexCapital">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="stage" jdbcType="INTEGER" property="stage" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="valuation" jdbcType="INTEGER" property="valuation" />
    <result column="accumulative_stage" jdbcType="INTEGER" property="accumulativeStage" />
    <result column="accumulative_amount" jdbcType="INTEGER" property="accumulativeAmount" />
    <result column="investment_institutions_backgroud" jdbcType="INTEGER" property="investmentInstitutionsBackgroud" />
  </resultMap>
</mapper>