<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.IndexProjectMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.IndexProject">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="market" jdbcType="INTEGER" property="market" />
    <result column="team" jdbcType="INTEGER" property="team" />
    <result column="dynamic" jdbcType="INTEGER" property="dynamic" />
    <result column="capital" jdbcType="INTEGER" property="capital" />
    <result column="brand" jdbcType="INTEGER" property="brand" />
  </resultMap>

</mapper>