<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.InterviewMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.Interview">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="projects_id" jdbcType="INTEGER" property="projectsId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>

</mapper>