<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.InvestmentDataLogMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentDataLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="Institutional_name" jdbcType="VARCHAR" property="institutionalName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="word_introduction" jdbcType="VARCHAR" property="wordIntroduction" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="amont" jdbcType="DECIMAL" property="amont" />
    <result column="stock_right" jdbcType="DECIMAL" property="stockRight" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="finan_time" jdbcType="TIMESTAMP" property="finanTime" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="audit_yn" jdbcType="INTEGER" property="auditYn" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="zhiwu" jdbcType="VARCHAR" property="zhiwu" />
  </resultMap>

</mapper>