<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionsAddressPartMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionsAddressPart">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="investment_institution_id" jdbcType="INTEGER" property="investmentInstitutionId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="town" jdbcType="VARCHAR" property="town" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="phone_country_code" jdbcType="VARCHAR" property="phoneCountryCode" />
    <result column="phone_district_code" jdbcType="VARCHAR" property="phoneDistrictCode" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="part_email" jdbcType="VARCHAR" property="partEmail" />
    <result column="longitude" jdbcType="DECIMAL" property="longitude" />
    <result column="latitude" jdbcType="DECIMAL" property="latitude" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
  </resultMap>

</mapper>