<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.InvestorInvestmentCaseMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestorInvestmentCase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="investor_id" jdbcType="INTEGER" property="investorId" />
    <result column="investment_case" jdbcType="VARCHAR" property="investmentCase" />
  </resultMap>
</mapper>