<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionsSegmentationMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionsSegmentation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="meta_segmentation_id" jdbcType="INTEGER" property="metaSegmentationId" />
    <id column="investment_institutions_id" jdbcType="INTEGER" property="investmentInstitutionsId" />
  </resultMap>
</mapper>