<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionPreferStageMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionPreferStage" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="stage_id" property="stageId" jdbcType="INTEGER" />
  </resultMap>
</mapper>