<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionsMemberEducationMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionsMemberEducation" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="education_experience" property="educationExperience" jdbcType="VARCHAR" />
  </resultMap>
</mapper>