<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionsFundsStagesMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionsFundsStages">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="investment_institutions_funds_id" jdbcType="INTEGER" property="investmentInstitutionsFundsId" />
    <result column="stage_id" jdbcType="INTEGER" property="stageId" />
  </resultMap>
</mapper>