<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionsFundsCopyMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionsFundsCopy" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="investment_institutions_id" property="investmentInstitutionsId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="units" property="units" jdbcType="VARCHAR" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="scale" property="scale" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
    <result column="investment_amount_begin" property="investmentAmountBegin" jdbcType="DECIMAL" />
    <result column="investment_amount_end" property="investmentAmountEnd" jdbcType="DECIMAL" />
    <result column="investment_philosophy" property="investmentPhilosophy" jdbcType="VARCHAR" />
    <result column="funs_addres" property="funsAddres" jdbcType="VARCHAR" />
  </resultMap>
</mapper>