<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionTeamMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionTeam" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="meta_iit_type_id" property="metaIitTypeId" jdbcType="INTEGER" />
    <result column="actual_name" property="actualName" jdbcType="VARCHAR" />
    <result column="company_duties" property="companyDuties" jdbcType="VARCHAR" />
    <result column="member_desc" property="memberDesc" jdbcType="VARCHAR" />
    <result column="honor" property="honor" jdbcType="VARCHAR" />
    <result column="phonenumber" property="phonenumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="work_yn" property="workYn" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="hide_yn" property="hideYn" jdbcType="INTEGER" />
    <result column="investment_institution_id" property="investmentInstitutionId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
  </resultMap>
</mapper>