<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.InvestmentInstitutionsLabelMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestmentInstitutionsLabel" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="investment_institutions_id" property="investmentInstitutionsId" jdbcType="INTEGER" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
  </resultMap>
</mapper>