<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.InvestorsApprovalMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.InvestorsApproval">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="approval_username" jdbcType="VARCHAR" property="approvalUsername" />
    <result column="investors_type" jdbcType="INTEGER" property="investorsType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="work_card" jdbcType="VARCHAR" property="workCard" />
    <result column="approval_result" jdbcType="INTEGER" property="approvalResult" />
    <result column="supplementary_explanation" jdbcType="VARCHAR" property="supplementaryExplanation" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="leadership" jdbcType="INTEGER" property="leadership" />
    <result column="investors_approvalcol_case" jdbcType="VARCHAR" property="investorsApprovalcolCase" />
    <result column="form_id" jdbcType="VARCHAR" property="formId" />
    <result column="institution_id" jdbcType="INTEGER" property="institutionId" />
  </resultMap>
</mapper>