<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.MetaFinancingMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.MetaFinancing" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="company_brand" property="companyBrand" jdbcType="VARCHAR" />
    <result column="company_all_name" property="companyAllName" jdbcType="VARCHAR" />
    <result column="company_intro" property="companyIntro" jdbcType="VARCHAR" />
    <result column="established_time" property="establishedTime" jdbcType="VARCHAR" />
    <result column="register_area" property="registerArea" jdbcType="VARCHAR" />
    <result column="main_Industry" property="mainIndustry" jdbcType="VARCHAR" />
    <result column="sub_industry" property="subIndustry" jdbcType="VARCHAR" />
    <result column="company_tag" property="companyTag" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="financing_last_time" property="financingLastTime" jdbcType="VARCHAR" />
    <result column="round" property="round" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="share" property="share" jdbcType="VARCHAR" />
    <result column="Valuation" property="valuation" jdbcType="INTEGER" />
    <result column="Valuation_currency" property="valuationCurrency" jdbcType="VARCHAR" />
    <result column="Investors" property="investors" jdbcType="VARCHAR" />
    <result column="education_experience" property="educationExperience" jdbcType="VARCHAR" />
    <result column="work_experience" property="workExperience" jdbcType="VARCHAR" />
  </resultMap>
</mapper>