<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.MetaFinancingMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.MetaFinancing">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="company_brand" jdbcType="VARCHAR" property="companyBrand" />
    <result column="company_all_name" jdbcType="VARCHAR" property="companyAllName" />
    <result column="company_intro" jdbcType="VARCHAR" property="companyIntro" />
    <result column="established_time" jdbcType="VARCHAR" property="establishedTime" />
    <result column="register_area" jdbcType="VARCHAR" property="registerArea" />
    <result column="main_Industry" jdbcType="VARCHAR" property="mainIndustry" />
    <result column="sub_industry" jdbcType="VARCHAR" property="subIndustry" />
    <result column="company_tag" jdbcType="VARCHAR" property="companyTag" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="financing_last_time" jdbcType="VARCHAR" property="financingLastTime" />
    <result column="round" jdbcType="VARCHAR" property="round" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="share" jdbcType="VARCHAR" property="share" />
    <result column="Valuation" jdbcType="INTEGER" property="valuation" />
    <result column="Valuation_currency" jdbcType="VARCHAR" property="valuationCurrency" />
    <result column="Investors" jdbcType="VARCHAR" property="investors" />
    <result column="education_experience" jdbcType="VARCHAR" property="educationExperience" />
    <result column="work_experience" jdbcType="VARCHAR" property="workExperience" />
  </resultMap>
</mapper>