<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.MetaConsumptionSceneMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.MetaConsumptionScene">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scence_id" jdbcType="INTEGER" property="scenceId" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
</mapper>