<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.MetaFinancingWorkMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.MetaFinancingWork">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="financing_id" jdbcType="INTEGER" property="financingId" />
    <id column="work_experience" jdbcType="VARCHAR" property="workExperience" />
  </resultMap>
</mapper>