<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.MetaHotSearchWordMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.MetaHotSearchWord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hot_word" jdbcType="VARCHAR" property="hotWord" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
  </resultMap>
</mapper>