<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.MiniappFormidMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.MiniappFormid">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="form_id" jdbcType="VARCHAR" property="formId" />
    <result column="scene_key" jdbcType="VARCHAR" property="sceneKey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="use_time" jdbcType="TIMESTAMP" property="useTime" />
    <result column="relieve_time" jdbcType="TIMESTAMP" property="relieveTime" />
  </resultMap>
</mapper>