<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.OriginalDataMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.OriginalData" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="preference_and_precautions" property="preferenceAndPrecautions" jdbcType="VARCHAR" />
    <result column="create_wechat_date" property="createWechatDate" jdbcType="VARCHAR" />
    <result column="wechat_number" property="wechatNumber" jdbcType="VARCHAR" />
    <result column="institution_name" property="institutionName" jdbcType="VARCHAR" />
    <result column="charge_people" property="chargePeople" jdbcType="VARCHAR" />
    <result column="institution_desc" property="institutionDesc" jdbcType="VARCHAR" />
    <result column="fund_size" property="fundSize" jdbcType="VARCHAR" />
    <result column="institution_level" property="institutionLevel" jdbcType="VARCHAR" />
    <result column="institution_classify" property="institutionClassify" jdbcType="VARCHAR" />
    <result column="institution_internal_organization" property="institutionInternalOrganization" jdbcType="VARCHAR" />
    <result column="institution_source" property="institutionSource" jdbcType="VARCHAR" />
    <result column="data_full_yn" property="dataFullYn" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="company_duties" property="companyDuties" jdbcType="VARCHAR" />
    <result column="work_card" property="workCard" jdbcType="INTEGER" />
    <result column="rgzl_attention" property="rgzlAttention" jdbcType="VARCHAR" />
    <result column="rgzl_detail" property="rgzlDetail" jdbcType="VARCHAR" />
    <result column="znzz_attention" property="znzzAttention" jdbcType="VARCHAR" />
    <result column="znzz_detail" property="znzzDetail" jdbcType="VARCHAR" />
    <result column="qcjthwl_attention" property="qcjthwlAttention" jdbcType="VARCHAR" />
    <result column="qcjthwl_detail" property="qcjthwlDetail" jdbcType="VARCHAR" />
    <result column="aqkj_attention" property="aqkjAttention" jdbcType="VARCHAR" />
    <result column="aqkj_detail" property="aqkjDetail" jdbcType="VARCHAR" />
    <result column="xpbdt_attention" property="xpbdtAttention" jdbcType="VARCHAR" />
    <result column="xpbdt_detail" property="xpbdtDetail" jdbcType="VARCHAR" />
    <result column="jrkj_attention" property="jrkjAttention" jdbcType="VARCHAR" />
    <result column="jrkj_detail" property="jrkjDetail" jdbcType="VARCHAR" />
    <result column="jykj_attention" property="jykjAttention" jdbcType="VARCHAR" />
    <result column="jykj_detail" property="jykjDetail" jdbcType="VARCHAR" />
    <result column="jzyl_attention" property="jzylAttention" jdbcType="VARCHAR" />
    <result column="jzyl_detail" property="jzylDetail" jdbcType="VARCHAR" />
    <result column="qyfw_attention" property="qyfwAttention" jdbcType="VARCHAR" />
    <result column="qyfw_detail" property="qyfwDetail" jdbcType="VARCHAR" />
    <result column="xfsj_attention" property="xfsjAttention" jdbcType="VARCHAR" />
    <result column="xfsj_detail" property="xfsjDetail" jdbcType="VARCHAR" />
    <result column="wycm_attention" property="wycmAttention" jdbcType="VARCHAR" />
    <result column="wycm_detail" property="wycmDetail" jdbcType="VARCHAR" />
    <result column="tmt_attention" property="tmtAttention" jdbcType="VARCHAR" />
    <result column="xcl_attenton" property="xclAttenton" jdbcType="VARCHAR" />
    <result column="xny_attention" property="xnyAttention" jdbcType="VARCHAR" />
    <result column="wlw_attention" property="wlwAttention" jdbcType="VARCHAR" />
    <result column="qkl_attention" property="qklAttention" jdbcType="VARCHAR" />
    <result column="hlw_attention" property="hlwAttention" jdbcType="VARCHAR" />
    <result column="hlw_detail" property="hlwDetail" jdbcType="VARCHAR" />
    <result column="ar_vr_attention" property="arVrAttention" jdbcType="VARCHAR" />
    <result column="other" property="other" jdbcType="VARCHAR" />
    <result column="anger_round" property="angerRound" jdbcType="VARCHAR" />
    <result column="pre_a_round" property="preARound" jdbcType="VARCHAR" />
    <result column="a_round" property="aRound" jdbcType="VARCHAR" />
    <result column="b_round" property="bRound" jdbcType="VARCHAR" />
    <result column="c_round" property="cRound" jdbcType="VARCHAR" />
    <result column="binggo_round" property="binggoRound" jdbcType="VARCHAR" />
    <result column="d_round" property="dRound" jdbcType="VARCHAR" />
    <result column="pre_ipo_round" property="preIpoRound" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="one_investment_count" property="oneInvestmentCount" jdbcType="VARCHAR" />
    <result column="investment_num_future" property="investmentNumFuture" jdbcType="VARCHAR" />
    <result column="investment_prepare" property="investmentPrepare" jdbcType="VARCHAR" />
  </resultMap>
</mapper>