<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.OriginalDataMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.OriginalData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="preference_and_precautions" jdbcType="VARCHAR" property="preferenceAndPrecautions" />
    <result column="create_wechat_date" jdbcType="VARCHAR" property="createWechatDate" />
    <result column="wechat_number" jdbcType="VARCHAR" property="wechatNumber" />
    <result column="institution_name" jdbcType="VARCHAR" property="institutionName" />
    <result column="charge_people" jdbcType="VARCHAR" property="chargePeople" />
    <result column="institution_desc" jdbcType="VARCHAR" property="institutionDesc" />
    <result column="fund_size" jdbcType="VARCHAR" property="fundSize" />
    <result column="institution_level" jdbcType="VARCHAR" property="institutionLevel" />
    <result column="institution_classify" jdbcType="VARCHAR" property="institutionClassify" />
    <result column="institution_internal_organization" jdbcType="VARCHAR" property="institutionInternalOrganization" />
    <result column="institution_source" jdbcType="VARCHAR" property="institutionSource" />
    <result column="data_full_yn" jdbcType="INTEGER" property="dataFullYn" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="work_card" jdbcType="VARCHAR" property="workCard" />
    <result column="rgzl_attention" jdbcType="VARCHAR" property="rgzlAttention" />
    <result column="rgzl_detail" jdbcType="VARCHAR" property="rgzlDetail" />
    <result column="znzz_attention" jdbcType="VARCHAR" property="znzzAttention" />
    <result column="znzz_detail" jdbcType="VARCHAR" property="znzzDetail" />
    <result column="qcjthwl_attention" jdbcType="VARCHAR" property="qcjthwlAttention" />
    <result column="qcjthwl_detail" jdbcType="VARCHAR" property="qcjthwlDetail" />
    <result column="aqkj_attention" jdbcType="VARCHAR" property="aqkjAttention" />
    <result column="aqkj_detail" jdbcType="VARCHAR" property="aqkjDetail" />
    <result column="xpbdt_attention" jdbcType="VARCHAR" property="xpbdtAttention" />
    <result column="xpbdt_detail" jdbcType="VARCHAR" property="xpbdtDetail" />
    <result column="jrkj_attention" jdbcType="VARCHAR" property="jrkjAttention" />
    <result column="jrkj_detail" jdbcType="VARCHAR" property="jrkjDetail" />
    <result column="jykj_attention" jdbcType="VARCHAR" property="jykjAttention" />
    <result column="jykj_detail" jdbcType="VARCHAR" property="jykjDetail" />
    <result column="jzyl_attention" jdbcType="VARCHAR" property="jzylAttention" />
    <result column="jzyl_detail" jdbcType="VARCHAR" property="jzylDetail" />
    <result column="qyfw_attention" jdbcType="VARCHAR" property="qyfwAttention" />
    <result column="qyfw_detail" jdbcType="VARCHAR" property="qyfwDetail" />
    <result column="xfsj_attention" jdbcType="VARCHAR" property="xfsjAttention" />
    <result column="xfsj_detail" jdbcType="VARCHAR" property="xfsjDetail" />
    <result column="wycm_attention" jdbcType="VARCHAR" property="wycmAttention" />
    <result column="wycm_detail" jdbcType="VARCHAR" property="wycmDetail" />
    <result column="tmt_attention" jdbcType="VARCHAR" property="tmtAttention" />
    <result column="xcl_attenton" jdbcType="VARCHAR" property="xclAttenton" />
    <result column="xny_attention" jdbcType="VARCHAR" property="xnyAttention" />
    <result column="wlw_attention" jdbcType="VARCHAR" property="wlwAttention" />
    <result column="qkl_attention" jdbcType="VARCHAR" property="qklAttention" />
    <result column="hlw_attention" jdbcType="VARCHAR" property="hlwAttention" />
    <result column="hlw_detail" jdbcType="VARCHAR" property="hlwDetail" />
    <result column="ar_vr_attention" jdbcType="VARCHAR" property="arVrAttention" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="anger_round" jdbcType="VARCHAR" property="angerRound" />
    <result column="pre_a_round" jdbcType="VARCHAR" property="preARound" />
    <result column="a_round" jdbcType="VARCHAR" property="aRound" />
    <result column="b_round" jdbcType="VARCHAR" property="bRound" />
    <result column="c_round" jdbcType="VARCHAR" property="cRound" />
    <result column="binggo_round" jdbcType="VARCHAR" property="binggoRound" />
    <result column="d_round" jdbcType="VARCHAR" property="dRound" />
    <result column="pre_ipo_round" jdbcType="VARCHAR" property="preIpoRound" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="one_investment_count" jdbcType="VARCHAR" property="oneInvestmentCount" />
    <result column="investment_num_future" jdbcType="VARCHAR" property="investmentNumFuture" />
    <result column="investment_prepare" jdbcType="VARCHAR" property="investmentPrepare" />
    <result column="segmentation_other_description" jdbcType="VARCHAR" property="segmentationOtherDescription" />
  </resultMap>
</mapper>