<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectTeamInfoMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectTeamInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="team_introduction" property="teamIntroduction" jdbcType="VARCHAR" />
  </resultMap>
</mapper>