<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectSendBMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_logo" jdbcType="VARCHAR" property="projectLogo" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="kernel_desc" jdbcType="VARCHAR" property="kernelDesc" />
    <result column="project_investment_highlights" jdbcType="VARCHAR" property="projectInvestmentHighlights" />
    <result column="commet" jdbcType="VARCHAR" property="commet" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="prepare_id" jdbcType="INTEGER" property="prepareId" />
    <result column="edit_status" jdbcType="INTEGER" property="editStatus" />
    <result column="appid" jdbcType="INTEGER" property="appid" />
  </resultMap>
</mapper>