<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectSendBMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendB" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_logo" property="projectLogo" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="kernel_desc" property="kernelDesc" jdbcType="VARCHAR" />
    <result column="project_investment_highlights" property="projectInvestmentHighlights" jdbcType="VARCHAR" />
    <result column="commet" property="commet" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="prepare_id" property="prepareId" jdbcType="INTEGER" />
    <result column="edit_status" property="editStatus" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="INTEGER" />
  </resultMap>
</mapper>