<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectEvaluationLogMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectEvaluationLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="financing_stage" jdbcType="VARCHAR" property="financingStage" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="work" jdbcType="VARCHAR" property="work" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
</mapper>