<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectTeamMemberMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectTeamMember" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="mumber_name" property="mumberName" jdbcType="VARCHAR" />
    <result column="mumber_duties" property="mumberDuties" jdbcType="VARCHAR" />
    <result column="share_ratio" property="shareRatio" jdbcType="DECIMAL" />
    <result column="mumber_desc" property="mumberDesc" jdbcType="VARCHAR" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="isOnJob" property="isonjob" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="INTEGER" />
    <result column="head_picture" property="headPicture" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="weiChat" property="weichat" jdbcType="VARCHAR" />
    <result column="isHide" property="ishide" jdbcType="INTEGER" />
    <result column="business_experience_desc" property="businessExperienceDesc" jdbcType="VARCHAR" />
    <result column="work_experience_desc" property="workExperienceDesc" jdbcType="VARCHAR" />
    <result column="education_experience_desc" property="educationExperienceDesc" jdbcType="VARCHAR" />
    <result column="team_id" property="teamId" jdbcType="INTEGER" />
  </resultMap>
</mapper>