<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectFinancialLogFollowStatusMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectFinancialLogFollowStatus" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_financial_log_id" property="projectFinancialLogId" jdbcType="INTEGER" />
    <result column="meta_follow_status_id" property="metaFollowStatusId" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="submitor_token" property="submitorToken" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>