<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectsMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.Projects" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="kernel_desc" property="kernelDesc" jdbcType="VARCHAR" />
    <result column="commet" property="commet" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="established_time" property="establishedTime" jdbcType="DATE" />
    <result column="segmentation" property="segmentation" jdbcType="VARCHAR" />
    <result column="item_label" property="itemLabel" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="territory" property="territory" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="continent" property="continent" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="investment_institutions_id" property="investmentInstitutionsId" jdbcType="INTEGER" />
    <result column="approval_status" property="approvalStatus" jdbcType="INTEGER" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="kernel_desc_status" property="kernelDescStatus" jdbcType="INTEGER" />
    <result column="city_count" property="cityCount" jdbcType="INTEGER" />
    <result column="evaluation_recommend" property="evaluationRecommend" jdbcType="DOUBLE" />
    <result column="project_type" property="projectType" jdbcType="INTEGER" />
    <result column="project_source" property="projectSource" jdbcType="INTEGER" />
    <result column="project_logo" property="projectLogo" jdbcType="VARCHAR" />
    <result column="project_investment_highlights" property="projectInvestmentHighlights" jdbcType="VARCHAR" />
    <result column="city_count_max" property="cityCountMax" jdbcType="INTEGER" />
    <result column="city_count_min" property="cityCountMin" jdbcType="INTEGER" />
  </resultMap>
</mapper>