<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectSendFinancingHistoryBMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendFinancingHistoryB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_send_b_id" jdbcType="INTEGER" property="projectSendBId" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="currency" jdbcType="INTEGER" property="currency" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="total_amount_currency" jdbcType="INTEGER" property="totalAmountCurrency" />
    <result column="financing_time" jdbcType="TIMESTAMP" property="financingTime" />
    <result column="appid" jdbcType="INTEGER" property="appid" />
  </resultMap>
</mapper>