<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectFinancingApprovalMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectFinancingApproval">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_send_log_id" jdbcType="INTEGER" property="projectSendLogId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="financing_rounds" jdbcType="VARCHAR" property="financingRounds" />
    <result column="financing_amount" jdbcType="DECIMAL" property="financingAmount" />
    <result column="financing_currency" jdbcType="INTEGER" property="financingCurrency" />
    <result column="transfer_shares" jdbcType="DECIMAL" property="transferShares" />
    <result column="current_demand" jdbcType="VARCHAR" property="currentDemand" />
    <result column="financing_useful" jdbcType="VARCHAR" property="financingUseful" />
  </resultMap>
</mapper>