<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectSendCompetingBMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendCompetingB" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_send_b_id" property="projectSendBId" jdbcType="INTEGER" />
    <result column="competing_name" property="competingName" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="INTEGER" />
  </resultMap>
</mapper>