<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectSendTeamMemberWorkMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendTeamMemberWork">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_send_team_member_id" jdbcType="INTEGER" property="projectSendTeamMemberId" />
    <result column="work_experience" jdbcType="VARCHAR" property="workExperience" />
  </resultMap>
</mapper>