<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectSendLogCompetingMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendLogCompeting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_send_logs_id" jdbcType="INTEGER" property="projectSendLogsId" />
    <result column="competing_product_name" jdbcType="VARCHAR" property="competingProductName" />
  </resultMap>
</mapper>