<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectSendTeamMemberWorkBMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendTeamMemberWorkB" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ps_team_b_id" property="psTeamBId" jdbcType="INTEGER" />
    <result column="work_experience" property="workExperience" jdbcType="VARCHAR" />
  </resultMap>
</mapper>