<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectSendCompetingBMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectSendCompetingB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_send_b_id" jdbcType="INTEGER" property="projectSendBId" />
    <result column="competing_name" jdbcType="VARCHAR" property="competingName" />
    <result column="appid" jdbcType="INTEGER" property="appid" />
  </resultMap>
</mapper>