<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectsMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.Projects">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="kernel_desc" jdbcType="VARCHAR" property="kernelDesc" />
    <result column="commet" jdbcType="VARCHAR" property="commet" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="established_time" jdbcType="DATE" property="establishedTime" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="item_label" jdbcType="VARCHAR" property="itemLabel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="territory" jdbcType="VARCHAR" property="territory" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="continent" jdbcType="VARCHAR" property="continent" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="investment_institutions_id" jdbcType="INTEGER" property="investmentInstitutionsId" />
    <result column="approval_status" jdbcType="INTEGER" property="approvalStatus" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="kernel_desc_status" jdbcType="INTEGER" property="kernelDescStatus" />
    <result column="city_count" jdbcType="INTEGER" property="cityCount" />
    <result column="evaluation_recommend" jdbcType="DOUBLE" property="evaluationRecommend" />
    <result column="project_type" jdbcType="INTEGER" property="projectType" />
    <result column="project_source" jdbcType="INTEGER" property="projectSource" />
    <result column="project_logo" jdbcType="VARCHAR" property="projectLogo" />
    <result column="project_investment_highlights" jdbcType="VARCHAR" property="projectInvestmentHighlights" />
    <result column="city_count_max" jdbcType="INTEGER" property="cityCountMax" />
    <result column="city_count_min" jdbcType="INTEGER" property="cityCountMin" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="company_email" jdbcType="VARCHAR" property="companyEmail" />
    <result column="company_hr_email" jdbcType="VARCHAR" property="companyHrEmail" />
    <result column="foreign_investment_yn" jdbcType="INTEGER" property="foreignInvestmentYn" />
  </resultMap>
</mapper>