<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ProjectFinancingLogMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectFinancingLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="financing_time" jdbcType="DATE" property="financingTime" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="calculation_amount_status" jdbcType="INTEGER" property="calculationAmountStatus" />
    <result column="currency" jdbcType="INTEGER" property="currency" />
    <result column="stock_right" jdbcType="DECIMAL" property="stockRight" />
    <result column="pr_amount" jdbcType="DECIMAL" property="prAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="rate" jdbcType="DECIMAL" property="rate" />
    <result column="share_divest" jdbcType="VARCHAR" property="shareDivest" />
    <result column="valuation" jdbcType="DECIMAL" property="valuation" />
    <result column="Investment_institutions_list" jdbcType="VARCHAR" property="investmentInstitutionsList" />
    <result column="proportion_list" jdbcType="VARCHAR" property="proportionList" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="approval_status" jdbcType="INTEGER" property="approvalStatus" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="amount_status" jdbcType="INTEGER" property="amountStatus" />
    <result column="total_amount_status" jdbcType="INTEGER" property="totalAmountStatus" />
    <result column="financing_time_year" jdbcType="VARCHAR" property="financingTimeYear" />
    <result column="project_financing_useful" jdbcType="VARCHAR" property="projectFinancingUseful" />
    <result column="data_soruce_type_id" jdbcType="INTEGER" property="dataSoruceTypeId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
  </resultMap>
</mapper>