<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ProjectFinancingLogMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ProjectFinancingLog" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="financing_time" property="financingTime" jdbcType="DATE" />
    <result column="stage" property="stage" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="amount_status" property="amountStatus" jdbcType="INTEGER" />
    <result column="calculation_amount_status" property="calculationAmountStatus" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="INTEGER" />
    <result column="stock_right" property="stockRight" jdbcType="DECIMAL" />
    <result column="pr_amount" property="prAmount" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="total_amount_status" property="totalAmountStatus" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="share_divest" property="shareDivest" jdbcType="VARCHAR" />
    <result column="valuation" property="valuation" jdbcType="DECIMAL" />
    <result column="Investment_institutions_list" property="investmentInstitutionsList" jdbcType="VARCHAR" />
    <result column="proportion_list" property="proportionList" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="approval_status" property="approvalStatus" jdbcType="INTEGER" />
    <result column="approval_time" property="approvalTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>