<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.RecruitmentMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.Recruitment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="job_type_id" property="jobTypeId" jdbcType="INTEGER" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="address_details" property="addressDetails" jdbcType="VARCHAR" />
    <result column="full_time" property="fullTime" jdbcType="INTEGER" />
    <result column="job_comment" property="jobComment" jdbcType="VARCHAR" />
    <result column="salary_low" property="salaryLow" jdbcType="DECIMAL" />
    <result column="salary_high" property="salaryHigh" jdbcType="DECIMAL" />
    <result column="welfare" property="welfare" jdbcType="VARCHAR" />
    <result column="skill_requirment" property="skillRequirment" jdbcType="VARCHAR" />
    <result column="share_option_low" property="shareOptionLow" jdbcType="DECIMAL" />
    <result column="share_option_high" property="shareOptionHigh" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="created_user_id" property="createdUserId" jdbcType="INTEGER" />
    <result column="updated_user_id" property="updatedUserId" jdbcType="INTEGER" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
  </resultMap>
</mapper>