<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ReportConcernMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ReportConcern">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="column_id" jdbcType="INTEGER" property="columnId" />
    <result column="report_id" jdbcType="INTEGER" property="reportId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="num" jdbcType="INTEGER" property="num" />
  </resultMap>

</mapper>