<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ReportMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.Report">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="from_rul" jdbcType="VARCHAR" property="fromRul" />
    <result column="source_text_url" jdbcType="VARCHAR" property="sourceTextUrl" />
    <result column="weighting_factor" jdbcType="INTEGER" property="weightingFactor" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>