<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.TestUserMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.TestUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="header_pic" jdbcType="VARCHAR" property="headerPic" />
    <result column="pic_file" jdbcType="LONGVARBINARY" property="picFile" />
  </resultMap>
</mapper>