<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.UserIntegralConsumeMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.UserIntegralConsume">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="scene_key" jdbcType="VARCHAR" property="sceneKey" />
    <result column="cost_num" jdbcType="DECIMAL" property="costNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
  </resultMap>
</mapper>