<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.UserIntegralConsumeDatasMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.UserIntegralConsumeDatas" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="scene_key" property="sceneKey" jdbcType="VARCHAR" />
    <result column="datas_id" property="datasId" jdbcType="VARCHAR" />
    <result column="consume_date" property="consumeDate" jdbcType="DATE" />
    <result column="user_integral_consume_id" property="userIntegralConsumeId" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
  </resultMap>
</mapper>