<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.UserIntegralConsumeDatasMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.UserIntegralConsumeDatas">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="scene_key" jdbcType="VARCHAR" property="sceneKey" />
    <result column="datas_id" jdbcType="VARCHAR" property="datasId" />
    <result column="consume_date" jdbcType="DATE" property="consumeDate" />
    <result column="user_integral_consume_id" jdbcType="INTEGER" property="userIntegralConsumeId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
  </resultMap>
</mapper>