<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.UserIntegralsMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.UserIntegrals" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="scene_key" property="sceneKey" jdbcType="VARCHAR" />
    <result column="integral_num" property="integralNum" jdbcType="DECIMAL" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="consume_num" property="consumeNum" jdbcType="DECIMAL" />
    <result column="consume_time" property="consumeTime" jdbcType="TIMESTAMP" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
  </resultMap>
</mapper>