<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.UserChooseRecordMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.UserChooseRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="datas" jdbcType="VARCHAR" property="datas" />
    <result column="scene_key" jdbcType="VARCHAR" property="sceneKey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="action_type" jdbcType="INTEGER" property="actionType" />
    <result column="log_type" jdbcType="INTEGER" property="logType" />
  </resultMap>
</mapper>