<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="headpic" jdbcType="VARCHAR" property="headpic" />
    <result column="actual_name" jdbcType="VARCHAR" property="actualName" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="identity_type" jdbcType="INTEGER" property="identityType" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="company_desc" jdbcType="VARCHAR" property="companyDesc" />
    <result column="demand" jdbcType="VARCHAR" property="demand" />
    <result column="headpic_real" jdbcType="VARCHAR" property="headpicReal" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="work_card" jdbcType="VARCHAR" property="workCard" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="meta_app_id" jdbcType="INTEGER" property="metaAppId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>