<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idatavc.web.mapper.ViewProjectsInfoMapper">
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ViewProjectsInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="kernel_desc" jdbcType="VARCHAR" property="kernelDesc" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="established_time" jdbcType="DATE" property="establishedTime" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="item_label" jdbcType="VARCHAR" property="itemLabel" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="territory" jdbcType="VARCHAR" property="territory" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="continent" jdbcType="VARCHAR" property="continent" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="financing_time" jdbcType="DATE" property="financingTime" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="currency" jdbcType="INTEGER" property="currency" />
    <result column="stock_right" jdbcType="DECIMAL" property="stockRight" />
    <result column="pr_amount" jdbcType="DECIMAL" property="prAmount" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="share_divest" jdbcType="VARCHAR" property="shareDivest" />
    <result column="valuation" jdbcType="DECIMAL" property="valuation" />
    <result column="Investment_institutions_list" jdbcType="VARCHAR" property="investmentInstitutionsList" />
    <result column="proportion_list" jdbcType="VARCHAR" property="proportionList" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="founder_name" jdbcType="VARCHAR" property="founderName" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="educational_background_desc" jdbcType="VARCHAR" property="educationalBackgroundDesc" />
    <result column="working_background_desc" jdbcType="VARCHAR" property="workingBackgroundDesc" />
    <result column="education_experience" jdbcType="VARCHAR" property="educationExperience" />
    <result column="work_experience" jdbcType="VARCHAR" property="workExperience" />
    <result column="investment_institutions_short_name" jdbcType="VARCHAR" property="investmentInstitutionsShortName" />
    <result column="investment_institutions_commet" jdbcType="VARCHAR" property="investmentInstitutionsCommet" />
    <result column="investment_institutions_type" jdbcType="INTEGER" property="investmentInstitutionsType" />
    <result column="all_name" jdbcType="VARCHAR" property="allName" />
  </resultMap>
</mapper>