<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.idatavc.web.mapper.ViewProjectsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.idatavc.web.model.ViewProjectsInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="full_name" property="fullName" jdbcType="VARCHAR" />
    <result column="kernel_desc" property="kernelDesc" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="established_time" property="establishedTime" jdbcType="DATE" />
    <result column="segmentation" property="segmentation" jdbcType="VARCHAR" />
    <result column="item_label" property="itemLabel" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="territory" property="territory" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="continent" property="continent" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="financing_time" property="financingTime" jdbcType="DATE" />
    <result column="stage" property="stage" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="currency" property="currency" jdbcType="INTEGER" />
    <result column="stock_right" property="stockRight" jdbcType="DECIMAL" />
    <result column="pr_amount" property="prAmount" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="share_divest" property="shareDivest" jdbcType="VARCHAR" />
    <result column="valuation" property="valuation" jdbcType="DECIMAL" />
    <result column="Investment_institutions_list" property="investmentInstitutionsList" jdbcType="VARCHAR" />
    <result column="proportion_list" property="proportionList" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="founder_name" property="founderName" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="educational_background_desc" property="educationalBackgroundDesc" jdbcType="VARCHAR" />
    <result column="working_background_desc" property="workingBackgroundDesc" jdbcType="VARCHAR" />
    <result column="education_experience" property="educationExperience" jdbcType="VARCHAR" />
    <result column="work_experience" property="workExperience" jdbcType="VARCHAR" />
    <result column="investment_institutions_short_name" property="investmentInstitutionsShortName" jdbcType="VARCHAR" />
    <result column="investment_institutions_commet" property="investmentInstitutionsCommet" jdbcType="VARCHAR" />
    <result column="investment_institutions_type" property="investmentInstitutionsType" jdbcType="INTEGER" />
  </resultMap>
</mapper>